<style type="text/css">
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  img {
    max-width: 250px;
    max-height: 170px;
  }
</style>
<% if(products.length !==0) { %>
<div>
  <table id="products-table">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>
    <% for (const product in products) {%>
    <tr>
      <td><%= products[product].title %></td>
      <td><%= products[product].price %></td>
      <td>
        <img src="<%= products[product].thumbnail %>" /><%
        products[product].thumbnail %>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<% } else{ %>
<p>No hay productos cargados</p>
<% }%>
