<style type="text/css">
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  img {
    max-width: 250px;
    max-height: 170px;
  }
</style>

<div>
  <table id="products-table">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>

    <tr>
      <td>title</td>
      <td>price</td>
      <td></td>
    </tr>
  </table>
</div>
