<% if(products.length !==0) { %>
<div>
  <table id="products-table">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>
    <% for (const product in products) {%>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.price %></td>
      <td>
        <img src="<%= product.thumbnail %>" />
      </td>
    </tr>
    <% } %>
  </table>
</div>
<% } else{ %>
<p>No hay productos cargados</p>
<% }%>
