<%- include("./partials/header.ejs", products) %>
  <body>
    <div class="container  ">
      <div class="jumbotron">
        <h2>Cargar producto</h2>
        <form onsubmit="return addProduct(this)" id="formProduct">
          <input type="text" id="title" required placeholder="Titulo" /><br />
          <input type="number" id="price" required placeholder="Precio" /><br />
          <input
            type="url"
            id="thumbnail"
            required
            placeholder="Imagen"
          /><br />
          <input type="submit" value="Cargar Producto" />
        </form>
        <%- include("./partials/table.ejs", products) %>
      </div>

      <div class="jumbotron">
        <h2>Mensajes</h2>
        <form onsubmit="return addMessage(this)">
          <input
            type="email"
            id="mail"
            required
            placeholder="Correo Electronico"
          /><br />
          <input
            type="text"
            id="texto"
            required
            placeholder="Ingresa un mensaje...."
          /><br />
          <input type="submit" value="Enviar" />
        </form>
        <div id="messages"></div>
      </div>
    </div>
  </body>
</html>
